.app__navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-links{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}
.app__navbar-links li{
    cursor: pointer;
    margin: 0 1rem;
}
.app__navbar-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.app__navbar-logo img{
    width: 150px;
}

.underline{
    width: 0%;
    height: 1px;
    background-color: var(--color-golden);
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}
.app__navbar-links li:hover , .app__login-items:hover{
    color: var(--color-grey);
}
.app__navbar-links li:hover .underline  , .app__login-items:hover .underline {
    width: 100%;
}

.app__navbar-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
}
.divider{
    height: 2rem;
    width: 1px;
    background-color: var(--color-grey);
}

.app__navbar-smallscreens{
    display: none;
}
.app__navbar-smallscreens_overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    z-index: 5;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-smallscreens_overlay .overlay__close{
    color:var(--color-golden);
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 20px;
}
.app__navbar-small-screens-links li{
    font-size: larger;
    color:var(--color-golden);
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: var(--font-base);
}
.app__navbar-small-screens-links li:hover{
    color:#fff
}

@media screen and (max-width:1150px) {
    .app__navbar-links{
        display: none;
    }
    .app__navbar-smallscreens{
        display: flex;
    }
}

@media screen and (max-width:650px) {
    .app__navbar-login{
        display: none;
    }
}