.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}
.app__wrapper-info{
    width: 55%;
}
.app__wrapper__img {
    width: 40%;
    display: flex;
    justify-content: center ;
}
.app__wrapper__img img{
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width:1150px) {
    .app__wrapper__img {
        width: 60%;
    }
    .app__wrapper-info{
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .app__header-h1{
        font-size: 60px;
        line-height: 90px;
    }
    .app__wrapper__img{
        width: 80%;
    }
}